In [1]:
import montecarlosimulator

Welcome to the Monte Carlo Simulator

In [2]:
dice1 = montecarlosimulator.Die([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dice2 = montecarlosimulator.Die([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dice3 = montecarlosimulator.Die([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [3]:
dice1.change_weight(5, 6)

In [4]:
dice1.show()

   face  weight
0     1     1.0
1     2     1.0
2     3     1.0
3     4     1.0
4     5     1.0
5     6     6.0
6     7     1.0
7     8     1.0
8     9     1.0
9    10     1.0

In [5]:
game1 = montecarlosimulator.Game([dice1, dice2, dice3])

In [6]:
game1.play(10)

In [7]:
game1.show("wide")

     1   2   3
1    8   9   9
2    6   7  10
3    9  10   3
4    6   2   4
5   10   3   2
6    5   2   9
7    2   8   4
8    2   6   7
9   10   1   4
10   6   6   4

In [8]:
analyzer1 = montecarlosimulator.Analyzer(game1)

In [9]:
analyzer1.jackpot()

0

In [10]:
analyzer1.jackpot_data

Empty DataFrame
Columns: [1, 2, 3]
Index: []

In [11]:
analyzer1.data

     1   2   3
1    8   9   9
2    6   7  10
3    9  10   3
4    6   2   4
5   10   3   2
6    5   2   9
7    2   8   4
8    2   6   7
9   10   1   4
10   6   6   4

In [12]:
analyzer1.combo()

          count
1  2  3
2  6  7       1
   8  4       1
5  2  9       1
6  2  4       1
   6  4       1
   7  10      1
8  9  9       1
9  10 3       1
10 1  4       1
   3  2       1

In [13]:
analyzer1.face_counts_per_roll()
analyzer1.face_counts

    1   2   3   4   5   6   7   8   9   10
1    0   0   0   0   0   0   0   1   2   0
2    0   0   0   0   0   1   1   0   0   1
3    0   0   1   0   0   0   0   0   1   1
4    0   1   0   1   0   1   0   0   0   0
5    0   1   1   0   0   0   0   0   0   1
6    0   1   0   0   1   0   0   0   1   0
7    0   1   0   1   0   0   0   1   0   0
8    0   1   0   0   0   1   1   0   0   0
9    1   0   0   1   0   0   0   0   0   1
10   0   0   0   1   0   2   0   0   0   0