In [1]:
import montecarlosimulator

Welcome to the Monte Carlo Simulator

In [2]:
dice1 = montecarlosimulator.Die([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dice2 = montecarlosimulator.Die([1, 2, 3, 4, 5])

In [3]:
dice1.show()

      weight
face
1        1.0
2        1.0
3        1.0
4        1.0
5        1.0
6        1.0
7        1.0
8        1.0
9        1.0
10       1.0

In [4]:
dice1.change_weight(5, 6)

In [5]:
dice1.show()

      weight
face
1        1.0
2        1.0
3        1.0
4        1.0
5        6.0
6        1.0
7        1.0
8        1.0
9        1.0
10       1.0

In [6]:
game1 = montecarlosimulator.Game([dice1, dice2])

In [7]:
game1.play(10)

In [8]:
game1.show("wide")

Die Number      1    2
Roll Number
1             [2]  [4]
2             [8]  [1]
3             [3]  [5]
4             [4]  [3]
5            [10]  [4]
6             [5]  [5]
7             [9]  [2]
8             [3]  [4]
9             [5]  [1]
10           [10]  [1]

In [9]:
game1.show("narrow")

Roll Number  Die Number
1            1              [2]
             2              [4]
2            1              [8]
             2              [1]
3            1              [3]
             2              [5]
4            1              [4]
             2              [3]
5            1             [10]
             2              [4]
6            1              [5]
             2              [5]
7            1              [9]
             2              [2]
8            1              [3]
             2              [4]
9            1              [5]
             2              [1]
10           1             [10]
             2              [1]
Name: Result, dtype: object

In [10]:
analyzer1 = montecarlosimulator.Analyzer(game1)

In [11]:
analyzer1.jackpot()

AttributeError: 'list' object has no attribute 'duplicated'

In [12]:
analyzer1.combo()

TypeError: unhashable type: 'list'

In [13]:
analyzer1.face_counts_per_roll()

TypeError: 'int' object is not iterable