In [1]:
import montecarlosimulator

Welcome to the Monte Carlo Simulator

In [2]:
dice1 = montecarlosimulator.Die([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dice2 = montecarlosimulator.Die([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dice3 = montecarlosimulator.Die([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [3]:
dice1.change_weight(5, 6)

In [4]:
dice1.show()

   face  weight
0     1     1.0
1     2     1.0
2     3     1.0
3     4     1.0
4     5     6.0
5     6     1.0
6     7     1.0
7     8     1.0
8     9     1.0
9    10     1.0

In [5]:
unfair_coin1 = montecarlosimulator.Die(["H", "T"])
unfair_coin2 = montecarlosimulator.Die(["H", "T"])

In [6]:
unfair_coin1.show()

  face  weight
0    H     1.0
1    T     1.0

In [7]:
unfair_coin1.change_weight("H", 5)

In [8]:
unfair_coin1.show()

  face  weight
0    H     5.0
1    T     1.0

In [9]:
game1 = montecarlosimulator.Game([dice1, dice1, dice1])

In [10]:
game1.play(10)

In [11]:
game1.show("wide")

    1   2  3
1   5  10  4
2   5   5  3
3   1   9  7
4   5   3  5
5   5   5  5
6   9  10  7
7   5   5  5
8   1   8  6
9   5   5  9
10  7   5  5

In [12]:
analyzer1 = montecarlosimulator.Analyzer(game1)

In [13]:
analyzer1.jackpot()

2

In [14]:
analyzer1.jackpot_data

   1  2  3
5  5  5  5
7  5  5  5

In [15]:
analyzer1.data

    1   2  3
1   5  10  4
2   5   5  3
3   1   9  7
4   5   3  5
5   5   5  5
6   9  10  7
7   5   5  5
8   1   8  6
9   5   5  9
10  7   5  5

In [16]:
analyzer1.combo()

        count
1 2  3
1 8  6      1
  9  7      1
5 3  5      1
  5  3      1
     5      2
     9      1
  10 4      1
7 5  5      1
9 10 7      1

In [17]:
analyzer1.face_counts_per_roll()
analyzer1.face_counts

    1   3   4   5   6   7   8   9   10
1    0   0   1   1   0   0   0   0   1
2    0   1   0   2   0   0   0   0   0
3    1   0   0   0   0   1   0   1   0
4    0   1   0   2   0   0   0   0   0
5    0   0   0   3   0   0   0   0   0
6    0   0   0   0   0   1   0   1   1
7    0   0   0   3   0   0   0   0   0
8    1   0   0   0   1   0   1   0   0
9    0   0   0   2   0   0   0   1   0
10   0   0   0   2   0   1   0   0   0

In [18]:
import unittest

In [19]:
import unittest
from montecarlosimulator import montecarlo_tests

loader = unittest.TestLoader()
suite = loader.loadTestsFromModule(montecarlo_tests)
unittest.TextTestRunner().run(suite)

.F.F...
======================================================================
FAIL: test_face_counts_per_roll (montecarlosimulator.montecarlo_tests.TestAnalyzer)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "D:\DS5100_Final_Project\DS5100_Final_Project\montecarlosimulator\montecarlo_tests.py", line 56, in test_face_counts_per_roll
    self.assertIsInstance(result, pd.DataFrame)
AssertionError: None is not an instance of <class 'pandas.core.frame.DataFrame'>

======================================================================
FAIL: test_change_weight (montecarlosimulator.montecarlo_tests.TestDie)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "D:\DS5100_Final_Project\DS5100_Final_Project\montecarlosimulator\montecarlo_tests.py", line 14, in test_change_weight
    self.assertEqual(self.die.show().loc[1, 'weight'], 2.0)
AssertionError: 1.0 != 2.0

----------------------------------------------------------------------
Ran 7 tests in 0.018s

FAILED (failures=2)

None