In [1]:
import montecarlosimulator

Welcome to the Monte Carlo Simulator

In [2]:
dice1 = montecarlosimulator.Die([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dice2 = montecarlosimulator.Die([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
dice3 = montecarlosimulator.Die([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [3]:
dice1.change_weight(5, 6)

In [4]:
dice1.show()

   face  weight
0     1     1.0
1     2     1.0
2     3     1.0
3     4     1.0
4     5     6.0
5     6     1.0
6     7     1.0
7     8     1.0
8     9     1.0
9    10     1.0

In [5]:
unfair_coin1 = montecarlosimulator.Die(["H", "T"])
unfair_coin2 = montecarlosimulator.Die(["H", "T"])

In [6]:
unfair_coin1.show()

  face  weight
0    H     1.0
1    T     1.0

In [7]:
unfair_coin1.change_weight("H", 5)

In [8]:
unfair_coin1.show()

  face  weight
0    H     5.0
1    T     1.0

In [9]:
game1 = montecarlosimulator.Game([dice1, dice1, dice1])

In [10]:
game1.play(10)

In [11]:
game1.show("wide")

    1  2  3
1   2  2  3
2   5  5  2
3   7  6  7
4   5  9  4
5   4  5  9
6   4  8  9
7   5  5  9
8   7  5  8
9   3  2  5
10  1  2  9

In [12]:
analyzer1 = montecarlosimulator.Analyzer(game1)

In [13]:
analyzer1.jackpot()

0

In [14]:
analyzer1.jackpot_data

Empty DataFrame
Columns: [1, 2, 3]
Index: []

In [15]:
analyzer1.combo()

       count
1 2 3
1 2 9      1
2 2 3      1
3 2 5      1
4 5 9      1
  8 9      1
5 5 2      1
    9      1
  9 4      1
7 5 8      1
  6 7      1

In [16]:
top10 = analyzer1.combo()
top10.sort_values(by='count', ascending=False).head(10)

       count
1 2 3
1 2 9      1
2 2 3      1
3 2 5      1
4 5 9      1
  8 9      1
5 5 2      1
    9      1
  9 4      1
7 5 8      1
  6 7      1

In [17]:
analyzer1.face_counts_per_roll()
analyzer1.face_counts

    1  2  3  4  5  6  7  8  9
1   0  2  1  0  0  0  0  0  0
2   0  1  0  0  2  0  0  0  0
3   0  0  0  0  0  1  2  0  0
4   0  0  0  1  1  0  0  0  1
5   0  0  0  1  1  0  0  0  1
6   0  0  0  1  0  0  0  1  1
7   0  0  0  0  2  0  0  0  1
8   0  0  0  0  1  0  1  1  0
9   0  1  1  0  1  0  0  0  0
10  1  1  0  0  0  0  0  0  1

In [18]:
analyzer1.face_counts_per_roll()
analyzer1.face_counts

    1  2  3  4  5  6  7  8  9
1   0  2  1  0  0  0  0  0  0
2   0  1  0  0  2  0  0  0  0
3   0  0  0  0  0  1  2  0  0
4   0  0  0  1  1  0  0  0  1
5   0  0  0  1  1  0  0  0  1
6   0  0  0  1  0  0  0  1  1
7   0  0  0  0  2  0  0  0  1
8   0  0  0  0  1  0  1  1  0
9   0  1  1  0  1  0  0  0  0
10  1  1  0  0  0  0  0  0  1

In [19]:
import unittest

In [20]:
import unittest
from montecarlosimulator import montecarlo_tests

loader = unittest.TestLoader()
suite = loader.loadTestsFromModule(montecarlo_tests)
unittest.TextTestRunner().run(suite)

........
----------------------------------------------------------------------
Ran 8 tests in 0.030s

OK

In [21]:
import pandas as pd
# create the letter column and frequency column as lists
letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
           'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
frequencies = [8.4966, 2.072, 4.5388, 3.3844, 11.1607, 1.8121, 2.4705, 3.0034,
               7.5448, 0.1965, 1.1016, 5.4893, 3.0129, 6.6544, 7.1635, 3.1671,
               0.1962, 7.5809, 5.7351, 6.9509, 3.6308, 1.0074, 1.2899, 0.2902,
               1.7779, 0.2722]

# create the DataFrame
df = pd.DataFrame({'letter': letters, 'frequency': frequencies})

# print the DataFrame
print(df)

   letter  frequency
0       A     8.4966
1       B     2.0720
2       C     4.5388
3       D     3.3844
4       E    11.1607
5       F     1.8121
6       G     2.4705
7       H     3.0034
8       I     7.5448
9       J     0.1965
10      K     1.1016
11      L     5.4893
12      M     3.0129
13      N     6.6544
14      O     7.1635
15      P     3.1671
16      Q     0.1962
17      R     7.5809
18      S     5.7351
19      T     6.9509
20      U     3.6308
21      V     1.0074
22      W     1.2899
23      X     0.2902
24      Y     1.7779
25      Z     0.2722

In [22]:
letter_array = letter_freq_df['letter'].values
letter_die = montecarlosimulator.Die(letter_array)

for face in letter_array:
    frequency = letter_freq_df.loc[letter_freq_df['letter'] == face, 'frequency'].values[0]
    letter_die.change_weight(face, frequency)
    
sc3_game = montecarlosimulator.Game([letter_die, letter_die, letter_die, letter_die, letter_die])
sc3_game.play(1000)

sc3_analyzer = montecarlosimulator.Analyzer(sc3_game)

sc3_combos = sc3_analyzer.combo()

NameError: name 'letter_freq_df' is not defined

In [ ]:
# create the letter column and frequency column as lists
letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
           'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
frequencies = [8.4966, 2.072, 4.5388, 3.3844, 11.1607, 1.8121, 2.4705, 3.0034,
               7.5448, 0.1965, 1.1016, 5.4893, 3.0129, 6.6544, 7.1635, 3.1671,
               0.1962, 7.5809, 5.7351, 6.9509, 3.6308, 1.0074, 1.2899, 0.2902,
               1.7779, 0.2722]

# create the DataFrame
letter_freq_df = pd.DataFrame({'letter': letters, 'frequency': frequencies})

In [ ]:
!dir

In [ ]:
!dir /q